.appliancesCompCard {
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    .appliancesCompCardContainer{
        .appliancesCompCardHeader {
            h3 {
                font-family: inherit;
                margin: 0;
                font-size: 16px;
                font-weight: 700;
                color: #1C1C1C;
                letter-spacing: 0.25px;
            }
        }
        .appliancesCompCardImages {
            padding-top: 20px;
            display: flex;
            align-items: center;
            gap: 15px;
            overflow-x: auto;
            padding-right: 10px;

            &::-webkit-scrollbar {
                display: none;
            }
            .image {
                width: 72px;
                height: 95px;
                background: #F5F5F5 0% 0% no-repeat padding-box;
                border-radius: 7px;
                opacity: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3px;

                img {
                    width: 30px;
                    height: 55px;
                    background: transparent;
                }
                span {
                    font-size: 9px;
                    font-weight: 500;
                    letter-spacing: 0.25px;
                    font-family: inherit;
                }
            }
            
        }
    }
}
@media screen and (min-width: 501px) {
    .appliancesCompCard {
        padding-top: 20px;
        .appliancesCompCardContainer {
            .appliancesCompCardHeader {
                h3 {
                    font-size: 19px;
                }
            }
            .appliancesCompCardImages {
                gap: 20px;
                .image {
                    width: 150px;
                    height: 150px;

                    img {
                        height: 90px;
                        width: 50px;
                    }
                    span {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1000px) {
    .appliancesCompCard {
        padding-top: 40px;
        padding-bottom: 40px;
        .appliancesCompCardContainer {
            .appliancesCompCardHeader {
                h3 {
                    font-size: 25px;
                }
            }
            .appliancesCompCardImages {
                gap: 40px;
                .image {
                    width: 300px;
                    height: 300px;

                    img {
                        height: 170px;
                        width: 110px;
                    }
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}