.ingredientsNavbar {
    font-family: "Open Sans", sans-serif;
    height: 50px;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 18px;

    .ingredientsNavbarContainer {
        .backbutton {
            cursor: pointer;

            button {
                background: transparent;
                border: none;
                display: flex;
                align-items: center;
            }
        }
    }
}
@media screen and (min-width: 501px) {
    .ingredientsNavbar {
        padding-left: 25px;
        padding-top: 25px;
        .ingredientsNavbarContainer {
            .backbutton {
                button {
                    img {
                        width: 30px;        
                        height: 25px;
                    }
                }
            }
        }
    }
}
