.ingredientsName {
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    overflow-x: clip;
    .ingredientsNameContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
        z-index: 999;
        .details{
            .heading{
                display: flex;
                align-items: center;
                gap: 10px;
                h1 {
                    font-weight: 800;
                    margin: 0;
                    font-size: 28px;
                    font-family: inherit;
                    z-index: 999;
                }
                .star {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #51C452 0% 0% no-repeat padding-box;
                    border-radius: 2px;
                    width: 25px;
                    height: 12px;
                    gap: 2px;
                    margin-top: 5px;
                    z-index: 999;
                    span {
                        font-family: inherit;
                        font-size: 8px;
                        color: #FFFFFF;
                        z-index: 999;
                    }

                    img {
                        width: 4px;
                        height: 4px;
                        z-index: 999;
                    }
                }
            }
            .desc {
                width: 220px;
                z-index: 999;
                p {
                    text-align: left;
                    font-family: inherit;
                    font-size: 12px;
                    letter-spacing: 0.26px;
                    color: #A3A3A3;
                    opacity: 1;
                    z-index: 999;
                    position: relative;
                }
            }
        }
        .time {
            padding-top: 10px;
            display: flex;
            gap: 7px;

            .clockIcon {
                display: flex;
                align-items: center;
                img {
                    width: 14px;
                    height: 15px;
                }
            }

            .timehr {
                display: flex;
                span {
                    font-family: inherit;
                    font-size: 10px;
                    color: #1C1C1C;
                    font-weight: 600;
                }
            }
        }
    }
    .backgroundImage {
        z-index: 1;
        position: absolute;
        width: 250px;
        height: 230px;
        background: #FFF9F2 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 50%;
        top: 25px;
        right: -60px;
    }
    .firstImage {
        top: 137px;
        position: absolute;
        right: -137px;
        z-index: 999;
        bottom: -10px;
    }
    .secondImage {
        top: 80px;
        position: absolute;
        z-index: 999;
        right: -123px;
    }

    hr {
        border: 0;
        margin-top: 20px;
        height: 2.3px;
        background-color: #F2F2F2;
    }
}

@media screen and (min-width: 501px) {
    .ingredientsName {
        margin-top: 10px;
        .ingredientsNameContainer {
            .details {
                .heading {
                    h1 {
                        font-size: 35px;
                    }
                    .star {
                        font-weight: 600;
                        width: 40px;
                        height: 20px;

                        span {
                            font-size: 12px;
                        }
                        img {
                            width: 10px;
                            height: 8px;
                        }
                    }
                }
                .desc {
                    width: 65%;
                    p{
                        font-size: 15px;
                    }
                }
            }
            .time {
                .clockIcon {
                    img{
                        width: 25px;
                        height: 22px;
                    }
                }
                .timehr {
                    display: flex;
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
        hr {
            margin-top: 15px;
        }
    }
}
@media screen and (min-width: 690px){
    .ingredientsName {
        .backgroundImage {
            top: 40px;
            right: -50px;
        }
        .firstImage {
            top: 106px;
            right: -181px;
            img {
                width: 420px;
            }
        }
            .secondImage {
            top: 25px;
            right: -174px;
            img {
                width: 290px;
            }
        }
    }
}
@media screen and (min-width: 1000px){
    .ingredientsName {
        margin-top: 90px;
        .ingredientsNameContainer {
            .details {
                .heading {
                    gap: 20px;
                    h1 {
                        font-size: 50px;
                    }
                    .star {
                        font-weight: 600;
                        width: 60px;
                        height: 32px;
                        gap: 5px;
                        span {
                            font-size: 14px;
                        }
                        img {
                            width: 10px;
                            height: 9px;
                        }
                    }
                }
                .desc {
                    width: 65%;
                    p{
                        font-size: 15px;
                    }
                }
            }
            .time {
                .clockIcon {
                    img{
                        width: 25px;
                        height: 22px;
                    }
                }
                .timehr {
                    display: flex;
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
        hr {
            margin-top: 30px;
        }

        .backgroundImage {
            width: 400px;
            height: 350px;
        }
        .firstImage {
            top: 156px;
            right: -240px;
            img {
                width: 100%;
            }
        }
        .secondImage {
            right: -212px;
            top: 45px;
            img {
                z-index: 999;
                width: 100%;
            }
        }
    }
}
