.popularDishes {
    font-family: 'Open Sans', sans-serif;
    padding-top: 1rem;
    .popularDishesContainer {
        .popularDishesHeading{
            h1 {
                font-family: inherit;
                margin: 0;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.14px;
                margin-left: auto;
                margin-right: auto;
                max-width: 85%;
                text-align: left;
            }
        }
        .popularDishesCards {
            margin-top: 20px;
            display: flex;
            .popularDishesCardsContainer {
                display: flex;
                align-items: center;
                gap: 10px;
                overflow-x: auto;
                padding-left: 8%;
                padding-right: 8%;
                overflow-y: hidden;
                margin-left: auto;
                margin-right: auto;
                
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}