.ingredientsComp {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    .ingredientsCompContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
        .headers {
            display: flex;
            flex-direction: column;
            gap: 2px;
            h2 {
                margin: 0;
                letter-spacing: 0.16px;
                color: #1C1C1C;
                font-weight: 700;
                font-size: 16px;
                font-family: inherit;
            }
            span {
                color: #8A8A8A;
                font-size: 8px;
                font-family: inherit;
            }
        }
        hr {
            margin-top: 15px;
            margin-bottom: 0;
            border: none;
            height: 1px;
            background-color: #D6D6D6CE;
        }
    }
}

@media screen and (min-width: 501px) {
    .ingredientsComp {
        padding-top: 0;
        .ingredientsCompContainer {
            .headers {
                gap: 2px;
                h2 {
                    font-size: 30px;
                }
                span {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .ingredientsComp {
        padding-top: 35px;
        .ingredientsCompContainer {
            .headers {
                gap: 2px;
                h2 {
                    font-size: 40px;
                }
                span {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}